.footer-area {
    background: #333;
    text-align: center;
    padding: 20px 0;
    p {
        color: #fff;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 500;
      }
  }