/* Medium Layout: 1280px. */
@media only screen and (min-width:992px) and (max-width:1200px) {
    .main {
        width: 970px;
      }
      .header-area{
        .menu {
          width: 700px;
        }
      }
      .about-area{
        .single-about {
          width: 290px;
        }
      }
      .services-area{
        .single-services {
          width: 303px;
        }
      }
      .portfolio{
        .single-portfolio {
          width: 303px;
        }
      }
      .blog-area{
        .single-blog{
          width: 303px;
        }
      }
      .contact-top{
        .single-address{
          width: 323px;
        }
      }
      .contact-bottom{
        .contact-form {
          width: 100%;
          margin-bottom: 30px;
        }
        .contact-map{
          width: 100%;
        }
      }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width:768px) and (max-width:991px) {
  .main {
    width: 750px;
  }
  .header-area{
    .logo{
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
      }
      .menu{
        width: 100%;
        ul{
          text-align: center;
        }
      }
      }
      .about{
        .single-about{
          width: 216px;
          padding: 25px 5px;
        }
      }
      .services-area{
        .single-services{
          width: 230px;
          padding: 10px;
          margin-right: 10px;
        }
      }
      .portfolio-area{
        .single-portfolio{
          width: 240px;
          margin-right: 10px;
        }
      }
      .blog-area{
        .single-blog{
          width: 240px;
          margin-right: 10px;
        }
      }
      .contact-top{
        .single-address{
          width: 250px;
        }
      }
      .contact-bottom{
        .contact-form{
          width: 100%;
        }
        .contact-map{
          width: 100%;
        }
      }
  }
  /* Mobile Layout: 320px. */
  @media only screen and (max-width:767px){
.main{
  width: 300px;
}
.header-area{
  .logo{
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
    }
    .menu{
      width: 100%;
      ul{
        text-align: center;
        margin-top: 20px;
        li {
          margin-bottom: 5px;
          display: block;
        }
      }
    }
    }
    .banner-content{
      h2{
        line-height: 50px;
      }
      a{
        margin-top: 10px;
      }
    }
    .about{
      .single-about{
        width: 100%;
       margin: 30px 0px 0px 0px;
      }
    }
    .services-area{
      .single-services{
        width: 100%;
        margin-top: 30px;
      }
    }
    .section-title{
      h4{
        line-height: 45px;
      }
      p{
        width: 100%;
      }
    }
    .portfolio-area{
      .single-portfolio{
        width: 100%;
        margin-top: 30px;
      }
    }
    .cta-area{
      h4{
        line-height: 50px;
      }
    }
    .blog-area{
      .single-blog{
        width: 100%;
        margin-top: 30px;
      }
    }
    .contact-top{
      .single-address{
        width: 100%;
        margin-top: 30px;
      }
    }
    .contact-bottom{
      .contact-form{
        width: 100%;
        margin-top: 30px;
      }
      .contact-map{
        width: 100%;
      }
    }
  }
  /* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    width: 450px;
  }
}
